<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link href="login.css" rel="stylesheet">
</head>

<body>
<div id="loginDiv">
  <form  id="form" >
    <h1 id="loginMsg">LOGIN IN</h1>
    <p>Username:<input id="username" name="username" type="text" v-model="userName"></p>
    <p>Password:<input id="password" name="password" type="password" v-model="passWord"></p>

    <div id="subDiv">
      <input type="submit" class="button" value="login up" @click="login">
      <input type="reset" class="button" value="reset" >
      <a href="register.html">Register</a>
    </div>
  </form>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  var app = new Vue({
    el: "#loginDiv",
    data: {
      userName: "",
      passWord: "",
    },
    methods: {
      login:function (){
        console.log(this.userName,this.passWord);
        axios.post('http://localhost:81/user/login',
                {
                  username: this.userName,
                  password: this.passWord,
                }).then( resp=> {
          console.log(resp)
          if (resp.data.code == '1') {
            window.location.href = 'loginSuccess.html';
          }else {
            alert("Invalid Account or Passcode");
            this.userName='';
            this.passWord='';
          }
        })
      }
    }
  })
</script>
</body>
</html>