.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles for the Weekly Data headline */
.weekly-headline {
  font-size: 24px;
  /* Set font size */
  color: #3498db;
  /* Set font color */
  text-align: center;
  /* Center the headline */
  margin-bottom: 10px;
  /* Add some space below the headline */
  font-weight: bold;
  /* Make the text bold */
}

/* Styles for the Monthly Data headline */
.monthly-headline {
  font-size: 24px;
  /* Set font size */
  color: #e74c3c;
  /* Set font color */
  text-align: center;
  /* Center the headline */
  margin-bottom: 10px;
  /* Add some space below the headline */
  font-style: italic;
  /* Make the text italic */
}
